body {
    font-family: Arial;
    margin: 20px;
    background-color: #f2e6f8;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th,
td {
    border: 2px solid #aaa;
}

.texto-titulo-tabela {
    margin: 5px;
    height: 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-conteudo-titulo {
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.conjunto {
    margin: 5px;
    max-height: 30px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto-conteudo {
    width: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #daa3ff;
}

.butaum {
    font-weight: bold;
    border: none;
    margin: 0;
    height: 30px;
    width: 25vh;
    position: center;
    background-color: #f57a81;
    cursor: pointer;
    color: #81091d;
}

.addLivro {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.div-livrins {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 25%;
    margin: 0 auto;

}

.titulo-opcao {
    width: inherit;
}

label {
    font-weight: bold;
    color: #510981;
    margin: 5px;
    width: 40vh;
}

.caixa-texto {
    color: #510981;
    width: inherit;
    border: none;
    height: 20px;
    padding: 5px;
    background-color: #f0d9ff;
    border-radius: 10px;
}

.livrins {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vh;
}

.butaum2 {
    font-weight: bold;
    border: none;
    margin: 0;
    height: 30px;
    width: 25vh;
    position: center;
    background-color: #daa3ff;
    border-radius: 20px;
    color: #510981;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.butaum2:hover {
    background-color: #8838bef1;
    color: white;
}

.titulo-pagina {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    text-decoration: overline underline #510981;
}