<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Biblioteca</title>
    <link rel="shortcut icon" href="/static/e-book.png" type="image/x-icon">
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <h1 class="titulo-pagina">Biblioteca - Lista de Livros</h1>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul>
        {% for category, msg in messages %}
        <li><strong>{{ category }}:</strong> {{ msg }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <table class="info">
        <thead>
            <tr class="texto-titulo-tabela">
                <th class="texto-conteudo-titulo">ID</th>
                <th class="texto-conteudo-titulo">Título</th>
                <th class="texto-conteudo-titulo">Autor</th>
                <th class="texto-conteudo-titulo">Ano</th>
                <th class="texto-conteudo-titulo">Disponível</th>
                <th class="texto-conteudo-titulo">Ações</th>
            </tr>   
        </thead>
        <tbody>
            {% for l in livros %}
            <tr  class="conjunto">
                <td class="texto-conteudo">{{ l.id }}</td>
                <td class="texto-conteudo">{{ l.titulo }}</td>
                <td class="texto-conteudo">{{ l.autor }}</td>
                <td class="texto-conteudo">{{ l.ano_publicacao or "-" }}</td>
                <td class="texto-conteudo">{{ "Sim" if l.disponivel else "Não" }}</td>
                <td class="texto-conteudo">
                    <form class="texto-conteudo" method="post" action="{{ url_for('deletar', id=l.id) }}">
                        <button class="butaum" type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Adicionar Livro</h2>
    <form class="livrins" action="{{ url_for('adicionar') }}" method="POST">
        <label class="titulo-opcao">Título: <input class="caixa-texto" type="text" name="titulo" required></label>
        <label class="titulo-opcao">Autor: <input class="caixa-texto" type="text" name="autor" required></label>
        <label class="titulo-opcao">Ano: <input class="caixa-texto" type="number" name="ano_publicizacao"></label>
        <label>Disponível: <input type="checkbox" name="disponivel" checked></label>
        <button class="butaum2" type="submit">Salvar</button>
    </form>

</body>

</html>